<div>
  <h3>Welcome to GMAT - Zero To Hero</h3>
  <p>We offer the best, affordable GMAT Class in Hanoi with 99th percentile instructor.</p>

  Like our Fan Page, Join our Group, and Follow our Blog for more information and resources.
  <br>
  <br>


    <a class="btn btn-success intro-btn" href="https://www.facebook.com/GMATZeroToHero/" target="_blank">Facebook Page</a>

    <a class="btn btn-primary intro-btn" href="https://www.facebook.com/groups/GmatZeroToHero/" target="_blank" style="margin: 0 30px;">Facebook Group</a>

    <a class="btn btn-info intro-btn" href="http://gmatzerotohero.wordpress.com" target="_blank">GMAT Blog</a>

  <br>
  <br>
  <h5>GMAT Heroes aren't born, they are made!</h5>
</div>
