<div class="col-md-12 col-lg-7">
  <div class="card card-accent-primary">
    <div class="card-header">
      Welcome to GMAT - Zero To Hero
    </div>
    <div class="card-body">
      <p>We offer the best, affordable GMAT Class in Hanoi with 99th percentile instructor.</p>
      Like our Fan Page, Join our Group, and Follow our Blog for more information and resources.
      <br>
      <br>
      <a class="btn btn-success intro-btn" href="https://www.facebook.com/GMATZeroToHero/" target="_blank"
         style="margin-right: 20px;">Facebook Page</a>
      <a class="btn btn-primary intro-btn" href="https://www.facebook.com/groups/GmatZeroToHero/" target="_blank"
         style="margin-right: 20px;">Facebook Group</a>
      <a class="btn btn-info intro-btn" href="http://gmatzerotohero.wordpress.com" target="_blank">GMAT Blog</a>
      <br>
      <br>
      <h5>GMAT Heroes aren't born, they are made!</h5>
    </div>
  </div>
</div><!--/.col-->

<!--<div class="col-md-12 col-lg-6">-->
  <!--<div class="card card-accent-danger">-->
    <!--<div class="card-header">-->
      <!--Data Correction-->
    <!--</div>-->
    <!--<div class="card-body">-->
      <!--<div class="col-sm">-->
        <!--<p>You can now take this app into offline mode by preload all available questions sets.</p>-->
      <!--</div>-->
      <!--<div class="col-sm">-->
        <!--<button type="button" class="btn btn-block btn-danger" (click)="dataCorrection()" style="max-width: 200px;">Correct Answer Order</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>&lt;!&ndash;/.col&ndash;&gt;-->
